/* css */
   
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.attribution{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

body,
html{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

button{
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
}

.call-to-action button{
    border: 2px solid #F9FAF8;
}

.call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 100px;
}

.split-area button,
.call-to-action button{
    color: white;
    background: #3882F6;
}

.card p,
.row-two h3,
.attribution p,
.quote p,
.call-to-action h4,
.call-to-action p{
    margin: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    text-align: center; 
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    font-size: 18px;
}

.hero,
header,
footer{
    background-color: #1F2937;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

header ul{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.hero{
    padding: 90px;
    color: #F9FAF8;
    display:flex;
    align-items: center;
    gap: 30px;
}

.hero h2{
    font-size: 48px;
    font-weight: bolder;
    padding: 0px;
    color: #F9FAF8;
}

.hero-img{
    background-color: #6e6868;
    /*color: #E5E7EB;
    font-size: 18px;
    padding: 80px 20px;
    text-align: center;*/
    min-width: 480px;
}

h1{
    font-size: 24px;
    color: #F9FAF8
}

.img-placeholder{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: 3px solid #3882F6;
    margin-bottom: 5px;
}

.image-cards{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.row-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.row-two h3{
     font-weight:bolder;
     font-size: 36px;
     color: #1F2937;
}

.row-three{
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    padding: 70px 340px;
    background-color: #E5E7EB;
}

.row-four{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 40px;
    
}

.quote{
    font-style: italic;
    font-weight:100;
    font-size: 36px;
}

ul{
    list-style-type: none;
}
