/* css */

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

body,
html{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

button{
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
}

.call-to-action button{
    border: 2px solid #F9FAF8;
}

.call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;
}

.split-area button,
.call-to-action button{
    color: white;
    background: #3882F6;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.hero,
header,
footer{
    background-color: #1F2937;
}

header,
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
}

header ul{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.hero-img{
    background-color: #6e6868;
    color: #E5E7EB;
    font-size: 18px;
}

.hero h2 p{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

h1{
    font-size: 24px;
    color: #F9FAF8
}

.row-three{
    background-color: #E5E7EB;
}

.row-four{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    
}

.call-to-action{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 100px;
}

div.call-to-action{
    padding: 40px 80px;
    border-radius: 5px;
}

.call-to-action h4,
.call-to-action p{
  margin: 0px;
}

ul{
    list-style-type: none;
}

.quote{
    font-style: italic;
}

.attribution{
    font-weight: bold;
}